<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: links">


</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container">
    <h3>Check availability</h3>
    <br>
    <form action="/addRoom/list" method="get">
        <div class='col-xs-4' style="margin-left: 70px">
            <div class="form-group">
                <label for="datetimepicker6">Check-In-Date</label>
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" value="checkInDate"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
        </div>
        <div class='col-xs-4'>
            <div class="form-group">
                <label for="datetimepicker7">Check-Out-Date</label>

                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" value="checkInDate"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
        </div>

        <div class='col-xs-2'>
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="button" style="margin-top: 25px">Check</button>

            </div>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
<br><br>
<div class="container">
    <!--Treść strony-->
    <h3>List of available rooms:</h3>
    <br>
    <!--<div class="row col-md-offset-1 col-md-10">-->
    <!--<div class="row table-header"> &lt;!&ndash;Nagłówek&ndash;&gt;-->
    <!--<div class="col-md-1">Id</div>-->
    <!--<div class="col-md-2">Room Type</div>-->
    <!--<div class="col-md-2">Bed Type</div>-->
    <!--<div class="col-md-3">Rooms Limit</div>-->
    <!--<div class="col-md-4">Desc</div>-->
    <!--</div>  &lt;!&ndash;Nagłowek end&ndash;&gt;-->
    <!--<div class="row table-row" th:each="rooms : ${foundRooms}">-->
    <!--<div class="col-md-1"><p th:text="${rooms.getId()}"></p></div>-->
    <!--<div class="col-md-2"><p th:text="${rooms.getRoomType()}"></p></div>-->
    <!--<div class="col-md-2"><p th:text="${rooms.getBedType()}"></p></div>-->
    <!--<div class="col-md-3"><p th:text="${rooms.getRoomsLimit()}"></p></div>-->
    <!--<div class="col-md-3"><p th:text="${rooms.getDescription()}"></p></div>-->
    <!--&lt;!&ndash;<div class="col-md-4 row">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-6"> &lt;!&ndash;Usuwanie&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a th:href="@{'/reservation/remove/' + ${reservation.getId()}}">Remove</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-6"> &lt;!&ndash;Szczegóły&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a th:href="@{'/reservation/details/' + ${reservation.getId()}}">Details</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Room Type</th>
            <th>BedType</th>
            <th>Rooms Limit</th>
            <th>Description</th>
            <th> </th>
        </tr>
        </thead>
        <tbody th:each="rooms : ${found}">
        <tr class="warning">
            <td style="padding-top: 8px"><img th:src="'http://localhost:8080/files/'+ ${rooms.picturePath}" style="height: 200px; border-radius: 4px"> </td>
            <td th:text="${rooms.roomType}" style="padding-top: 94px"></td>
            <td th:text="${rooms.bedType}" style="padding-top: 94px"></td>
            <td th:text="${rooms.roomsLimit}" style="padding-top: 94px"></td>
            <td th:text="${rooms.description}" style="padding-top: 94px"></td>
            <td style="padding-top: 94px"><a class="btn btn-danger btn-xs" th:href="@{'/wishList/addToWishList/'}" >Details</a></td>
        </tr>

        <!--</tr>-->
        </tbody>
    </table>
    <!--Treść strony-->
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>